<div class="container">
  <h1>Who Is A Good Doggo?</h1>
  <div class="image-container">
    <img src="public/images/dog_house.png" alt="dog house">
  </div>
  <form action="/fetch_dog" method="post">
    <button type="submit">Fetch</button>
  </form>
</div>
