<div class="container">
  <h1>Random Dog Image Generator</h1>
  <div class="image-container">
    <img src="" alt="dog house">
  </div>
  <form action="/fetch_dog" method="post">
    <button type="submit">Get Random Dog Image</button>
  </form>
</div>
